body {
  font-family: "KoHo", sans-serif;
}

/* Scroll Wheel Css -------------------> Start */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(129, 165, 147, 0.308);
  -webkit-box-shadow: inset 0 0 6px rgba(134, 134, 134, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(97, 97, 97, 0.363);
}
/* Scroll Wheel Css -------------------> End */
